body {
    background-color: #2E4F3D;
    font-family: Garamond serif ;
    font-size: large;
    color: antiquewhite;
}
#logo {
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: Georgia serif;
    color: antiquewhite;
}

#navi {
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

#hakuotsikko {
    margin: 0px;
}

.nav-button.haku-button {
    background-color: #6B8F71;
    padding: 14px;
    border-radius: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}



.hakuwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hakukentta {
    color: #b7cdeb;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    max-width: 300px;
    font-size: large;
    margin: 4px;
}

.hakukentta::placeholder {
    color: #5a7ca8bd;
}

.search-icon {
    color: #5a7ca8bd;
    margin-left: 5px;
}

#tulokset {
  overflow-x: auto;
  width: 100%;
}

.kirjataulu {
    background-color: #6B8F71;
    border-color: rgb(139, 131, 120);
    border-radius: 30px;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 20px auto;
}

.kirjataulu th {
    padding: 35px;
    margin: 35px;
    text-align: left;
    font-size: large;
    overflow-wrap: break-word;
}

.kirjataulu th:nth-child(2),
.kirjataulu th:nth-child(3) {
    text-align: center;
}

.kirjataulu td {
    padding: 10px;
    margin: 10px;
    padding-left: 35px;
    margin-left: 35px;
    padding-right: 35px;
    margin-right: 35px;
    text-align: left;
    padding-bottom: 30px;
    font-size: large;
    max-width: 0;
    overflow-wrap: break-word;
}

.kirjataulu td:nth-child(2),
.kirjataulu td:nth-child(3) {
    text-align: center;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    body {
        font-size: medium;
        padding: 10px;
    }

    h1 {
        font-size: large;
        text-align: center;
    }

    #logo img{
        max-width: 70%;
    }

    .hakuwrapper {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
    }

    .hakukentta {
        width: 100%;
        font-size: small;
        margin: 8px;
    }
    .kirjataulu {
        width: 100%;
        font-size: small;
        overflow-x: auto;
        display: block;
    }

    .kirjataulu th,
    .kirjataulu td {
        font-size: small;
    }
}