body {
    background-color: #2E4F3D;
    color: #D3D6D4;
    font: Lora;

}
#logo {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Karla;
}

#navi {
    padding: 20px;
    
    font-size: large;
}

.nav-button {
     background-color: #6B8F71;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

a:hover {
    color: #5A7CA8
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}

